nav.nav-bar {
  margin: 0 auto;
  /* width: var(--max-content-width); */
  max-width: var(--max-content-width);
}

nav.nav-bar ul {
  padding: var(--gap) 0;
  width: 100%;
  display: flex;
  gap: 12px;

  list-style-type: none;
}

nav.nav-bar a {
  color: var(--color-medium-blue);
}

nav.nav-bar a.active {
  color: var(--color-highlight);
}

nav.nav-bar ul div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
